*{
    margin: 0;
padding: 0;
}
.body{
    background: linear-gradient(45deg, black,red);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   
}

.calculadora{
    position: absolute;
    background-color: black;
    top: 50px;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 15px;
    padding: 10px;
}

.botao{
    background-color: white;
    height: 50px;
    width: 50px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff;

}

.botao:hover{
background-color: grey;
}

#resultado{
   background-color: white;
    width: 207px;
    height: 35px;
    margin: 5px;
    font-size: 30px;
    color: black ;
    text-align: right;
    padding: 5px;
}